html,
body,
.root {
  /* to do params */
}

/* Nav component */

.menu-wrapper {
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}

.ui.secondary.pointing.menu {
  border-bottom: none;
}

/* Logout */

.btn-logout {
  padding-bottom: 7px !important;
  cursor: pointer;
}
